<html ng-app>
<head>
	<title></title>
</head>
	<body>
		<div class="container" ng-init="customers=[{name: 'Dave', city: 'New York'}, {name: 'Napur', city: 'South Africa'}, {name: 'Heedy', city: 'Sao Paulo'}, {name: 'Shiva', city: 'New Deli'}]">
			<h3>looping with the ng-repeat directive</h3>
			<br/>
			<input type="text" ng-model="name" />
			<br/>
			<ul>
				<li ng-repeat="customer in customers | filter:name | orderBy:'city'">{{ customer.name | uppercase}} - {{customer.city}}</li>
			</ul>
		</div>
		<script src="angular.min.js"></script>
	</body>
</html>